<!DOCTYPE html>

<html>

<head>
    <title>MOSS similarity Test</title>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">

    <div class="container p-3 my-3 bg-dark text-white">
        <h2>Test Similarity</h2>
    </div>
    

    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        <div class="row">

        <div class="col-sm-6">
            <div class="form-group">
            <label for="user1">Enter name of user 1:</label>
            <input class="form-control" type="text" id="user1" name="user1">
            </div>
            <div class="form-group">
            <label for="files1">Select files for user1:</label>
            <input type="file" id="files1" name="files1" multiple>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
            <label for="user2">Enter name of user 2:</label>
            <input class="form-control" type="text" id="user2" name="user2">
            </div>
            <label for="files">Select files for user2:</label>
            <input type="file" id="files2" name="files2" multiple><br><br>
        </div>
        
        <div class="col-sm-6">
        <div class="form-group">
            <label for="lang">Choose Language:</label>

            <select class="form-control" name="lang" id="lang">
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="cc">C++</option>
                <option value="c">C</option>
                <option value="javascript">JavaScript</option>
            </select>
        </div>
        </div>


        <div class="col-sm-6" style="margin-top: 25px;">
            <button type="submit" class="btn btn-primary">Check Similarity</button>
        </div>
    </div>

    </form>
        {% if result%}
       <a class="btn btn-success" target="blank" href={{result}}>View Results</a>
        {%endif%}
    </div>
</body>
</html>